@import "nativescript-theme-core/css/core.light.css";

.container {
  flex-wrap: wrap;
  justify-content: space-around;
}

Image {
  height: 120;
  width: 120;
}

Label {
  font-size: 13;
  color: #444;
  text-transform: capitalize;
}

.item {
  margin-bottom: 20;
}